@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500;600;800&family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.hiddenSec {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

.title__font {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #1a2236;
}

/* -----------------------------POPUP CSS SECTION STARTS------------------------------------ */

.popup__container {
  width: 100%;
  padding: 16px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: #1a2236 28px solid;
}

.popup__title {
  align-self: flex-start;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 80%;
  color: #1a2236;
}

.popup__img {
  width: 100%;
}

.popup__feature {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #1a2236;
}

.btn6 {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin-right: 154px;
}

.popup__btn {
  width: 80%;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #fff;
  color: #1a2236;
  transition: 0.5s;
}

.popup__btn:hover {
  background-color: #92dcdc;
  cursor: pointer;
}

.popup__btn2 {
  width: 80%;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #fff;
  color: #1a2236;
  transition: 0.5s;
}

.popup__btn2:hover {
  background-color: #92dcdc;
  cursor: pointer;
}

.popup__btn a {
  color: #1a2236;
  display: flex;
  justify-content: space-around;
}

.popup__btn2 a {
  color: #1a2236;
  display: flex;
  justify-content: space-around;
}

.tech__list {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  gap: 10px;
}

.list {
  width: auto;
  height: auto;
  background-color: #92dcdc;
  text-align: center;
}

.tech__btn {
  padding: 6px;
  background: #98dede;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  color: #1a2236;
  transition: 0.5s;
  border: 1px solid rgb(73, 73, 73);
}

.tech__btn:hover {
  background-color: #1a2236;
  color: #98dede;
}

.previous__next {
  display: none;
}

.popupBtncross {
  position: absolute;
  top: 42px;
  right: 36px;
}

.popupBtncross img {
  height: 24px;
}

/* -----------------------------PopUp CSS SECTION ENDS-------------------------------------- */

/* -----------------------------NAVBAR CSS SECTION STARTS----------------------------------- */

#navbar {
  position: fixed;
  height: 568px;
  left: -100%;
  background-color: #92dcdc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.navbar {
  position: relative;
  width: 320px;
  height: 568px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  background-image: url(img/elipse.svg), url(img/image_geometry_menu_2.svg), url(img/Group\ 98.svg);
  background-repeat: no-repeat;
  background-position: 218px 80px, 0 416px, 0 0;
}

.navbar__menu {
  height: 192px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navbar__items {
  text-align: center;
}

.nav__link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #1a2236;
  transition: 0.5s ease;
}

.nav__link:hover {
  color: #92dcdc;
  box-shadow: 0 1px 0 #1a2236;
}

#navbar.active {
  left: 0;
}

/* -----------------------------NAVBAR CSS SECTION ENDS----------------------------------- */

/* -----------------------------HAMBARGER BAR ICON CSS-------------------------------------- */

.hamburger {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 14px;
  left: 284px;
  top: 19px;
  z-index: 99;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #1a2236;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* -----------------------------HAMBARGER BAR ICON CSS-------------------------------------- */

/* -----------------------------HELLO SECTION CSS STARTS------------------------------------- */

.hello__container {
  width: 320px;
  height: 672px;
  display: flex;
  align-items: center;
  padding: 16px;
  background-image: url(img/image_geometry_1.png), url(img/image_geometry_2.png);
  background-position: 0 0, 0 470px;
  background-repeat: no-repeat;
}

.banner {
  height: 400px;
}

.name {
  height: 80px;
  font-size: 50px;
}

.feature {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.header__btn {
  width: 288px;
  height: 50px;
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background: #1a2236;
  transition: 0.3s;
  cursor: pointer;
}

.header__btn:hover {
  background-color: #fff;
  color: #1a2236;
}

/* -----------------------------HELLO SECTION CSS ENDS------------------------------------- */

/* -----------------------------PROJECT SECTION CSS STARTS------------------------------------- */

.project__container {
  display: grid;
  grid-template-rows: 80px 1fr;
  width: 320px;
}

.project__title {
  margin: 16px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

#project1,
#project2,
#project3,
#project4,
#project5,
#project6 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 340px;
}

.project__img {
  width: 320px;
  height: 186px;
}

.menu {
  background-color: #1a2236;
  padding: 20px;
}

.project__name {
  height: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
}

.project__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 44px;
  margin-top: 20px;
  background-color: transparent;
  transition: ease-out 0.3s;
  overflow: hidden;
  outline: none;
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
  background-image: url(img/Union.svg);
  background-position: 140px 13px;
  background-repeat: no-repeat;
}

.project__btn:hover {
  color: #fff;
  cursor: pointer;
}

.project__btn::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #98dede;
  background-image: url(img/Union.svg);
  background-position: 140px 13px;
  background-repeat: no-repeat;
}

.project__btn:hover::before {
  transition: 0.5s all ease;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.text {
  margin-right: 40px;
}

.text h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

/* -----------------------------PROJECT SECTION CSS ENDS------------------------------------- */

/* -----------------------------ABOUT SECTION CSS STARTS------------------------------------- */

.about__container {
  width: 320px;
  height: 1269px;
  padding: 16px;
  display: flex;
}

.mask__container {
  margin-top: 40px;
}

.cv__block {
  height: 290px;
}

.about__title {
  font-size: 50px;
}

.about__feature {
  height: 100px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.cv__btn {
  width: 288px;
  height: 50px;
  margin-top: 32px;
  padding-left: 80px;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #1a2236;
  background-image: url(img/Group\ 61.svg);
  background-repeat: no-repeat;
  background-position: 187px 9px;
  color: #fff;
  transition: 0.5s;
}

.cv__btn:hover {
  background-color: #92dcdc;
  cursor: pointer;
}

.language {
  width: 289px;
  height: 289px;
  background: #1c528a;
  background-image: url(img/ic_languages_mob.png);
  background-repeat: no-repeat;
  background-position: 186px 188px;
  padding: 50px;
}

.card__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.card__list {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.0525em;
}

.card__list a {
  color: #fff;
}

.framework {
  width: 289px;
  height: 289px;
  margin-top: 20px;
  background: #e2505c;
  background-image: url(img/ic_framework.png);
  background-repeat: no-repeat;
  background-position: 193px 193px;
  padding: 50px;
}

.skill {
  width: 289px;
  height: 289px;
  margin-top: 20px;
  background: #febf52;
  background-image: url(img/ic_skills.png);
  background-repeat: no-repeat;
  background-position: 186px 188px;
  padding: 50px;
}

/* -----------------------------ABOUT SECTION CSS ENDS------------------------------------- */

/* -----------------------------CONTACT FORM SECTION CSS STARTS------------------------------------- */

.form__container {
  width: 320px;
  height: 813px;
  padding: 16px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f9f9fa;
  background-image: url(img/image_geometry_1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form__title {
  font-size: 50px;
}

.form__feature {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.form__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.form__name,
.form__email {
  width: 288px;
  height: 52px;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
  transition: 0.5s;
}

.form__name:focus,
.form__email:focus {
  color: #1a2236;
  font-size: 0.75em;
}

.textarea {
  width: 288px;
  height: 112px;
  padding: 10px;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #7d7c84;
  transition: 0.5s;
}

.textarea:focus {
  color: #1a2236;
  font-size: 0.75em;
}

.form__btn {
  width: 288px;
  height: 44px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background: #1a2236;
  transition: 0.3s;
  cursor: pointer;
}

.form__btn:hover {
  background-color: #fff;
  color: #1a2236;
}

/* -----------------------------CONTACT FORM SECTION CSS STARTS------------------------------------- */

/* -----------------------------RESUME SECTION CSS STARTS------------------------------------- */

.resume__container {
  padding: 16px;
  width: 320px;
  height: 126px;
  background: #1a2236;
}

.resume__ic {
  width: 177px;
  height: 24px;
  background-image: url(img/ic_link_teal.svg);
  background-repeat: no-repeat;
  background-position: 142px 0;
}

.resume__ic a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #92dcdc;
}

.social__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  width: 288px;
  height: 24px;
}

/* -----------------------------RESUME SECTION CSS ENDS------------------------------------- */

/* ---------------------------------------------------------------MEDIA__QUERY__SECTION-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) {
  .popup__container {
    /* width: 1300px;
    height: 1711px; */
    padding: 60px;
  }

  .popup__title {
    width: 800px;
    height: 48px;
    font-size: 60px;
    margin-right: 368px;
  }

  .popup__btn,
  .popup__btn2 {
    width: 20%;
  }

  .tech__list {
    margin-right: 600px;
  }

  .popup__feature {
    width: 700px;
    height: 216px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #1a2236;
  }

  .previous__next {
    width: 787px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
  }

  .previous {
    position: relative;
    width: 239px;
    height: 27px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
  }

  .previous img {
    position: absolute;
    left: 0;
  }

  .next {
    position: relative;
    width: 170px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-self: flex-start;
  }

  .next img {
    position: absolute;
    right: 0;
  }

  .previous a,
  .next a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: right;
    color: #1a2236;
  }

  .popupBtncross {
    top: 59px;
    right: 90px;
  }

  .popupBtncross img {
    height: 16px;
  }

  /* ---------------------------------------Navbar--------------- */
  #navbar {
    position: relative;
    left: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 0.5px 0 #dddfe6;
  }

  .navbar {
    width: 400px;
    height: auto;
    display: block;
    background-image: none;
  }

  .navbar__menu {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav__link {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1a2236;
    transition: 0.5s ease;
  }

  .nav__link:hover {
    color: #92dcdc;
    box-shadow: 0 1px 0 #1a2236;
  }

  .hamburger {
    display: none;
  }

  /* ------------------------------------Navbar---------------------- */

  /* -------------------------------------Header banner--------------------- */

  .hello__container {
    width: auto;
    height: 880px;
    background-color: #fff;
    background-image: url(img/image-geometry_1.svg), url(img/image_dots.svg);
    background-position: 100% 0, 54% 700px;
  }

  .banner {
    width: 484px;
    height: 415px;
    margin-left: 144px;
    margin-bottom: 80px;
  }

  .name {
    font-size: 110px;
    height: 220px;
  }

  .header__btn {
    width: 254px;
    height: 70px;
  }

  /* -------------------------------------Header banner--------------------- */

  /* ---------------------------------------Project------------------------- */

  .project__container {
    display: block;
    width: 100%;
    height: 1643px;
    margin-top: 210px;
    background-image:
      url(img/image_dots.svg),
      url(img/image-geometry_2.svg),
      url(img/image-geometry_3.svg),
      url(img/image-geometry_4.svg),
      url(img/image-geometry_5.svg);
    background-position:
      340px 0,
      470px 559px,
      800px 1097px,
      713px 1373px,
      0 1373px;
    background-repeat: no-repeat;
  }

  .showcase {
    position: relative;
    width: 100%;
    height: 1643px;
  }

  .project__title {
    display: block;
    position: absolute;
    top: 1313px;
    font-size: 110px;
    transform: rotate(-90deg);
  }

  #project1,
  #project2,
  #project3,
  #project4,
  #project5,
  #project6 {
    position: absolute;
    overflow: hidden;
  }

  #project1 {
    width: 960px;
    height: 558px;
    right: 0;
  }

  #project2 {
    width: 465px;
    height: 270px;
    top: 638px;
  }

  #project3 {
    width: 800px;
    height: 465px;
    top: 908px;
  }

  #project4 {
    width: 465px;
    height: 270px;
    top: 1373px;
    left: 800px;
  }

  #project5 {
    width: 465px;
    height: 270px;
    bottom: 545px;
    right: 0;
  }

  #project6 {
    width: 465px;
    height: 270px;
    top: 558px;
    right: 0;
  }

  .project__img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 1;
    transition: 0.3s ease-in-out;
  }

  .menu {
    position: absolute;
    background: #1a2236;
    width: 960px;
    left: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
    opacity: 0;
  }

  #project1:hover .project__img,
  #project2:hover .project__img,
  #project3:hover .project__img,
  #project4:hover .project__img,
  #project5:hover .project__img,
  #project6:hover .project__img {
    opacity: 0.8;
    top: -158px;
  }

  #project1:hover .menu,
  #project2:hover .menu,
  #project3:hover .menu,
  #project4:hover .menu,
  #project5:hover .menu,
  #project6:hover .menu {
    opacity: 1;
  }

  /* ---------------------------------------Project------------------------- */

  /* ---------------------------------------About------------------------- */

  .about__container {
    width: 100%;
    height: 900px;
    padding: 160px;
    background-image: url(img/image_dots_with_teal.svg);
    background-repeat: no-repeat;
    background-position: 516px 520px;
  }

  .mask__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0;
  }

  .about__title {
    font-size: 110px;
  }

  .about__feature {
    margin-top: 30px;
  }

  .cv__btn {
    width: 254px;
    height: 70px;
    padding-left: 65px;
    background-position: 159px 18px;
  }

  .cv__block {
    width: 446px;
    height: 336px;
  }

  .card__block * {
    margin: 0;
  }

  .card__block {
    display: grid;
    grid-template-columns: 50% 40%;
  }

  /* ---------------------------------------About------------------------- */

  /* ---------------------------------------Contact Form------------------------- */

  .form__container {
    width: 100%;
    height: 950px;
    align-items: center;
    background-image: url(img/image-geometry_6.svg), url(img/image-geometry_7.svg);
    background-position: 0 0, 100% 600px;
  }

  .form__title {
    font-size: 110px;
  }

  .form__feature {
    width: 548px;
  }

  .form__btn {
    width: 254px;
    height: 70px;
  }

  /* ---------------------------------------Contact Form------------------------- */

  /* ---------------------------------------Resume------------------------- */

  .resume__container {
    width: 100%;
    height: 123px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-position: 364px;
  }

  .social__link {
    margin: 0;
  }

  /* ---------------------------------------Resume------------------------- */
}
