@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500;600;800&family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 320px;
  height: 4910px;
  background: #fff;
  overflow-x: hidden;
}

.title_font {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

/* ----------------toolbar section CSS-------------------------- */

.shape2 {
  position: absolute;
  width: 320px;
  height: 160px;
  left: 0;
  top: 472px;
}

.navbar_menu {
  position: fixed;
  left: -100%;
  top: 74px;
  gap: 0;
  flex-direction: column;
  text-align: center;
  width: 320px;
  height: 568px;
  padding: 114px;
  background-color: #fff;
  background-image: url(img/elipse.svg), url(img/image_geometry_menu_2.svg);
  background-repeat: no-repeat;
  background-position: 198px 20px, 0 416px;
  background-size: auto;
  transition: 0.5s;
  z-index: 99999;
}

.nav-item {
  margin: 20px 0;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #1a2236;
  transition: 0.5s ease;
}

.nav-link:hover {
  color: #92dcdc;
  box-shadow: 0 1px 0 #1a2236;
}

.navbar_menu.active {
  left: 0;
}

.hamburger {
  display: block;
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 14px;
  left: 284px;
  top: 19px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #1a2236;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* ----------------Headline section CSS------------------------- */

.header {
  height: 570px;
}

.header-banner {
  position: absolute;
  width: 288px;
  height: 336px;
  left: 16px;
  top: 104px;
}

.name {
  width: 220px;
  height: 100px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.feature {
  width: 261px;
  height: 126px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.main_btn {
  width: 288px;
  height: 50px;
  margin-top: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background: #1a2236;
  transition: 0.3s;
  cursor: pointer;
}

.main_btn:hover {
  background-color: #fff;
  color: #1a2236;
}

.img_geometry1 {
  display: none;
}

/* -------------------Work Section CSS-------------------------------- */

.work {
  display: grid;
  width: 320px;
  height: 2134px;
}

.projectH1 {
  margin: 16px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.showcase {
  width: 320px;
  height: 2052px;
  margin-top: 16px;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6 {
  display: flex;
  width: 320px;
  height: 342px;
}

.project_img {
  position: absolute;
  width: 320px;
  height: 186px;
  border: 0.333333px solid rgba(15, 1, 1, 0.1);
}

.menu {
  width: 320px;
  height: 156px;
  margin-top: 186px;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5px);
}

.sub_title {
  width: 264px;
  height: 16px;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
}

.list {
  width: auto;
  height: 20px;
  margin: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.btn2 {
  width: auto;
  height: 20px;
  padding: 6px 10px;
  margin-right: 10px;
  background: #98dede;
  border: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  color: #1a2236;
  transition: 0.5s;
}

.btn2:hover {
  background-color: #1a2236;
  color: #98dede;
  border: 1px solid #fff;
}

.btn3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 178px;
  height: 44px;
  margin: 20px;
  background-color: transparent;
  transition: ease-out 0.3s;
  overflow: hidden;
  outline: none;
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
}

.btn3:hover {
  color: #fff;
  cursor: pointer;
}

.btn3::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #98dede;
}

.btn3:hover::before {
  transition: 0.5s all ease;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.arrow {
  height: 24px;
  margin-left: 12px;
}

/* -----------------------About section CSS------------------------------- */

.about {
  width: 290px;
  height: 1217px;
  padding: 15px;
}

.about_feature {
  width: 288px;
  height: 126px;
  margin-top: 70px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.cv_block {
  width: 288px;
  height: 278px;
  margin-top: 56px;
}

.cv_btn {
  width: 288px;
  height: 50px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: #1a2236;
  transition: 0.5s;
}

.cv_btn:hover {
  background-color: #92dcdc;
  color: #1a2236;
  cursor: pointer;
}

.cv_btn a {
  width: 130px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.mask_block {
  width: 289px;
  height: 289px;
  margin-top: 90px;
  background: #1c528a;
}

.mask_block2 {
  width: 289px;
  height: 289px;
  margin-top: 16px;
  background: #e2505c;
}

.mask_block3 {
  width: 289px;
  height: 289px;
  margin-top: 16px;
  background: #febf52;
}

.mask_img {
  position: absolute;
  width: 102px;
  height: 102px;
  margin: 187px 0 0 187px;
}

.mask_dot {
  display: none;
}

.list_text {
  position: absolute;
  width: 116px;
  height: 30px;
  margin: 50px 123px 209px 50px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.listings {
  position: absolute;
  width: 178px;
  height: 135px;
  margin: 101px 61px 53px 50px;
  list-style-position: inside;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
}

/* ----------------------------------Form section CSS----------------------------------------------------- */

.form-container {
  position: absolute;
  width: 320px;
  height: 813px;
  left: -2px;
  top: 4205px;
  background: #f9f9fa;
}

.form-container header {
  position: absolute;
  /* width: 255px; */
  height: 50px;
  left: 16px;
  margin-top: 28px;
}

.form-container p {
  position: absolute;
  width: 288px;
  height: 63px;
  left: 16px;
  margin-top: 104px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 16px;
  top: 293px;
}

.form input:nth-child(1) {
  width: 288px;
  height: 52px;
  padding-left: 16px;
  margin-top: 8px;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
  transition: 0.5s;
}

.form input:focus {
  color: #1a2236;
  font-size: 0.75em;
}

.form textarea {
  width: 288px;
  height: 112px;
  margin-top: 8px;
  padding: 10px;
  background: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #7d7c84;
  transition: 0.5s;
}

.form textarea:focus {
  color: #1a2236;
  font-size: 0.75em;
}

.form button {
  width: 288px;
  height: 44px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background: #1a2236;
  transition: 0.3s;
  cursor: pointer;
}

.form button:hover {
  background-color: #fff;
  color: #1a2236;
}

/* --------------------------------Resume Section CSS------------- */

.resume-container {
  position: absolute;
  padding: 32px 16px 40px 16px;
  width: 320px;
  height: 150px;
  left: 0;
  top: 4869px;
  background: #1a2236;
}

.resume-container a {
  width: 271px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #92dcdc;
}

.listings li a {
  color: #fff;
}

.resume-icon {
  position: absolute;
  width: 22px;
  height: 22px;
  margin-left: 15px;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  width: 288px;
  height: 24px;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Media_Query--------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) {
  body {
    position: relative;
    width: 1440px;
    height: 4852px;
  }

  .img_geometry,
  .bars {
    display: none;
  }

  /* -----------------Navbar_Section_Media_Query--------------------------- */

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: #fff;
    box-shadow: 0 0.5px 0 #dddfe6;
  }

  .navbar_menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    left: 0;
    top: 0;
    background: none;
    height: auto;
    padding: 0;
    backdrop-filter: none;
    border: none;
  }

  .nav-link {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1a2236;
    transition: 0.5s ease;
  }

  .cv_btn a {
    font-weight: 500;
    font-size: 18px;
  }

  .nav-link:hover {
    color: #92dcdc;
    box-shadow: 0 1px 0 #1a2236;
  }

  .hamburger {
    display: none;
  }

  /* ----------------------Header_Section_Media_Query------------------------- */

  .header {
    height: 880px;
  }

  .header-banner {
    position: absolute;
    width: 484px;
    height: 415px;
    left: 160px;
    top: 292px;
  }

  .name {
    width: 484px;
    height: 220px;
  }

  .title_font {
    font-size: 110px;
    line-height: 100%;
  }

  .feature {
    width: 484px;
    height: 84px;
  }

  .main_btn {
    width: 254px;
    height: 70px;
  }

  .img_geometry1 {
    display: block;
    float: right;
    z-index: -5;
  }

  .img_geometry1 img:nth-child(2) {
    width: 702px;
    height: 877px;
  }

  .img_geometry1 img:nth-child(3) {
    position: absolute;
    width: 511px;
    height: 350px;
    left: 464px;
    top: 1727px;
  }

  .img_geometry1 img:nth-child(4) {
    position: absolute;
    width: 639.75px;
    height: 275.42px;
    left: 800px;
    top: 2263px;
  }

  .img_geometry1 img:nth-child(5) {
    position: absolute;
    width: 87.69px;
    height: 87.71px;
    left: 712px;
    top: 2539px;
  }

  .img_geometry1 img:nth-child(6) {
    position: absolute;
    width: 211.7px;
    height: 124.04px;
    left: 0;
    top: 2540px;
  }

  .img_geometry1 img:nth-child(7) {
    position: absolute;
    width: 263.06px;
    height: 350.84px;
    left: 0;
    top: 3782px;
    z-index: 99999;
  }

  .img_geometry1 img:nth-child(8) {
    position: absolute;
    width: 350.75px;
    height: 350.84px;
    left: 1089px;
    top: 4378px;
    z-index: 9999;
  }

  /* -----------------------Work_Section_Media_Query---------------------------- */

  .work {
    height: 1643px;
  }

  .dots {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 326px;
    top: 1192px;
  }

  .projectH1 {
    position: absolute;
    top: 1306px;
    font-size: 110px;
    transform: rotate(-90deg);
  }

  /* ------Project 1----- */

  .project1 {
    position: absolute;
    width: 960px;
    height: 558px;
    left: 480px;
    top: 1187px;
  }

  .project1 .project_img {
    width: 960px;
    height: 542px;
  }

  .project1 .menu {
    width: 960px;
    height: 353px;
    padding: 60px;
    background: rgba(26, 34, 54, 0.95);
    backdrop-filter: blur(12px);
  }

  .project1 .menu .sub_title {
    width: 779px;
    height: 48px;
    font-size: 60px;
    font-weight: 700;
    margin: 0;
  }

  .project1 .menu .list {
    margin: 0;
    padding-top: 50px;
  }

  .project1 .menu .list .btn2 {
    font-size: 20px;
    margin-right: 20px;
  }

  .project1 .menu .btn3 {
    margin: 0;
    margin-top: 80px;
    width: 212px;
    height: 51px;
  }

  .project1 .menu .btn3 .text {
    font-size: 18px;
  }

  /* ----------Project 2-------- */

  .project2 {
    position: absolute;
    width: 465px;
    height: 270px;
    left: 0;
    top: 1825px;
  }

  .project2 .project_img {
    width: 464px;
    height: 255px;
  }

  .project2 .menu {
    display: none;
  }

  /* ---------Project 3---------- */

  .project3 {
    position: absolute;
    width: 800px;
    height: 465px;
    left: 0;
    top: 2075px;
  }

  .project3 .project_img {
    width: 800px;
    height: 465px;
  }

  .project3 .menu {
    display: none;
  }

  /* ---------Project 4------------ */

  .project4 {
    position: absolute;
    width: 465px;
    height: 270px;
    left: 799px;
    top: 2536px;
  }

  .project4 .project_img {
    width: 465px;
    height: 270px;
  }

  .project4 .menu {
    display: none;
  }

  /* ---------Project 5------------ */

  .project5 {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 465px;
    height: 218px;
    right: 0;
    top: 1779px;
  }

  .project5 .project_img {
    width: 465px;
    height: 270px;
    margin-top: 216px;
  }

  .project5 .menu {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .project5 .menu .sub_title {
    width: 578px;
    height: 32px;
    margin: 0;
    padding: 30px;
    font-weight: 700;
    font-size: 40px;
  }

  .project5 .menu .list {
    margin: 0;
    padding: 30px;
  }

  .project5 .menu .list .btn2 {
    font-size: 15px;
    margin-right: 20px;
  }

  .project5 .menu .btn3 {
    margin: 30px;
    width: 212px;
    height: 51px;
  }

  .project5 .menu .btn3 .text {
    font-size: 18px;
  }

  /* ----------Project 6---------- */

  .project6 {
    position: absolute;
    width: 465px;
    height: 270px;
    left: 975px;
    top: 1726px;
  }

  .project6 .project_img {
    width: 465px;
    height: 270px;
  }

  .project6 .menu {
    display: none;
  }

  /* ----------------About Section Media Query------------------- */

  .about {
    position: absolute;
    width: 1120px;
    height: 586px;
    top: 2943px;
    left: 160px;
    right: 160px;
  }

  .cv_block {
    position: absolute;
    width: 446px;
    height: 336px;
    margin-top: 28px;
    right: 0;
  }

  .about_feature {
    width: 446px;
    height: 84px;
    margin: 0;
    margin-top: 30px;
  }

  .cv_btn {
    width: 254px;
    height: 70px;
  }

  .mask_container {
    display: grid;
    grid-template-columns: 26.5% 26.5%;
  }

  .mask_block,
  .mask_block2,
  .mask_block3 {
    margin: 0;
  }

  .mask_dot {
    display: block;
    position: absolute;
    width: 222.02px;
    height: 222px;
    left: 371px;
    top: 381px;
  }

  /* --------------------------Form_Section_Media_Query--------------------------- */

  .form-container {
    position: absolute;
    width: 1440px;
    height: 950px;
    left: 0;
    top: 3782px;
  }

  .form-container header {
    position: absolute;
    width: 635px;
    height: 110px;
    left: 446px;
    margin-top: 168px;
    font-weight: 400;
    font-size: 110px;
  }

  .form-container p {
    position: absolute;
    width: 548px;
    height: 63px;
    left: 446px;
    margin-top: 318px;
  }

  .form input[type=text] {
    position: absolute;
    width: 254px;
    height: 60px;
    left: 428px;
    margin-top: 160px;
    font-size: 15px;
  }

  .form input[type=email] {
    position: absolute;
    width: 254px;
    height: 60px;
    left: 738px;
    margin-top: 160px;
    font-size: 15px;
  }

  .form textarea {
    position: absolute;
    width: 563px;
    height: 140px;
    left: 428px;
    margin-top: 253px;
  }

  .form button {
    position: absolute;
    width: 254px;
    height: 70px;
    left: 593px;
    top: 411px;
  }

  /* -------------------------Resume_Section_Media_Query--------------------------- */

  .resume-container {
    position: absolute;
    width: 1440px;
    height: 123px;
    left: 0;
    top: 4729px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .social-links {
    margin: 0;
  }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
