@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500&family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 320px;
  height: 4910px;
  background: #fff;
}

/* ----------------toolbar CSS-------------------------- */

.shape2 {
  position: absolute;
  width: 320px;
  height: 160px;
  left: 0;
  top: 472px;
  margin-top: 32px;
}

.bars {
  position: absolute;
  width: 20px;
  height: 14px;
  left: 284px;
  top: 19px;
}

/* ----------------Headline CSS------------------------- */

.name {
  position: absolute;
  width: 220px;
  height: 100px;
  left: 16px;
  top: 104px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.about {
  position: absolute;
  width: 246px;
  height: 126px;
  left: 16px;
  top: 224px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.btn {
  position: absolute;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 390px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  background: #1a2236;
}

/* ------------------------------------------------------- */
